---
import MainHead from '../components/MainHead.astro';

const title = 'PUBLIC UI APP';
---
<html lang="en">
  <head>
    <MainHead title={title} />
  </head>
  <body>
    <h1>{title}</h1>
  </body>
</html>
